@import url('https://fonts.googleapis.com/css?family=Lato300,400,500|Oswald300,400,500');

/*    IMAGES    */

.home {
    background: url('../images/homecover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.myphoto {
    border-radius: 50%;
    width: 70%;
    background-position: center;
}

.educationphoto {
    width: 100%;
    background-position: center;
}

.workphoto {
    width: 100%;
    background-position: center;
}

.photocontainer {
    margin: 0px;
    padding: 0px;
}

.projectphoto {
    width: 100%;
    background-size: cover;
}

/*    HEADER & HOME   */

.home {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-container {
    position: absolute;
    padding: 0px;
    height: 90px;
}

.colortransparency {
    background-color: rgba(49,54,57,0.25)
}

.navbar {
    padding: 0px 25px;
    height: 100%;
}

.name {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fafafa!important;
    padding-top: 17.5px;
    height: 100%;
}

.navbar-toggler {
    border: transparent;
}

.navigation {
    height: 100%;
}

.navbar-nav {
    height: 100%;
    padding: 30px 0px;
}

.nav-item a {
    text-decoration: none;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:  #fafafa!important;
    text-align: right;
    margin-left: 15px;
    padding: 0;
}

.title {
    text-align: center;
    padding: 300px 0px;
}

.home-heading {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    color:  #fafafa;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 0px;
    margin: 0;
    border-top: 2px solid  #fafafa;
    border-bottom: 2px solid  #fafafa;
    display: inline-block;
}

.home-color {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 90px;
    background-color: #313639;
}

/*    FOOTER    */

footer {
    margin: 0;
    background-color: #313639;
    height: 100%;
    width: 100%;
}

.f-heading h6 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #fafafa;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 15px;
}

.f-contacts,
.f-download,
.f-social {
    display: inline-block;
    text-align: center;
}

.f-contacts a i,
.f-download a i,
.f-social li a i { /* This style was taken from the Rosie Resume walkthrough project */
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #313639;
    background-color: #f7dad5;
    margin-top: 8px;
}


/*    ABOUT ME    */

.aboutme {
    background-color: #f7dad5;
    width: 100%;
    margin: 0px;
    padding: 0px 25px 0px 0px;
}

.aboutmetitle {
    height: 70px;
}

.aboutmetitle h2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#313639;
    font-weight: 400;
    padding-left: 25px;
    padding-top: 20px;
}

.aboutmecontent {
    padding: 0px 0px 40px;
}

.aboutmeinfo {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #313639;
    text-align: justify;
    margin-top: 10px;
    padding: 0px 0px 0px 15px;
}

/*    EDUCATION    */

.education {
    background-color: #313639;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 25px;
}

.educationtitle {
    height: 70px;
}

.educationtitle h2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#fafafa;
    font-weight: 400;
    padding-top: 20px;
}

.educationcontent {
    padding-top: 20px;
}

.educationitems {
    padding: 0px 10px 40px 10px;
}

/*Timeline taken from the Rosie Resume walkthrough project*/

.timeline-item {
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
    font-family: Lato, sans-serif;
    font-size: 18px;
    padding: 60px 30px 0px 30px;
}

.timeline-item p {
    padding-top: 10px;
    margin: 0px;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 40px;
    top: 45px;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 18px;
    padding: 0;
    margin:0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 40px;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

/*End of timeline*/

.languages {
    padding-bottom: 20px;
}

.languages h3 {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#fafafa;
    font-weight: 300;
    margin-top: 40px;
}

.languageslist {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fafafa;
    margin-top: 15px;
    padding-left: 20px;
}

.languageslist li {
    margin-top: 5px;
}

/*    WORK EXPERIENCE    */

.work-experience {
    background-color: #f7dad5;
    width: 100%;
    margin: 0px;
    padding: 0px 25px 0px;
}

.work-experiencetitle {
    height: 70px;
}

.work-experiencetitle h2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#313639;
    font-weight: 400;
    padding-top: 20px;
}

.work-experiencecontent {
    padding-top: 20px;
}

.work-experienceitems {
    padding: 0px 25px 40px 10px;
}

.date1,
.date2,
.date3,
.date4,
.date5 {
    border-right: 1px solid #313639;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #313639;
    text-align: right;
    padding-right: 10px!important;
}

.experience1,
.experience2,
.experience3,
.experience4,
.experience5 {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #313639;
    text-align: justify;
    padding-left: 10px!important;
}

.headingstrong {
    font-weight: bold;
}

/*    ARCHITECTURE AND WEB-DEVELOPMENT    */

.architecture {
    background-color: #f7dad5;
    width: 100%;
    margin: 0px;
    padding: 0px 25px 0px;
}

.architecturetitle {
    height: 70px;
}

.architecturetitle h2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#313639;
    font-weight: 400;
    padding-top: 20px;
}

.architecturecontent {
    padding-top: 20px;
}

.architecturecontent .skills,
.architecturecontent .portfolio {
    padding-bottom: 20px;
    width: 100%;
}

.architecturecontent .skills h3,
.architecturecontent .portfolio h3 {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#363139;
    font-weight: 300;
}

.skillslist {
    text-align: center;
    padding: 0;
}

.progresscircle {
    border: 4px solid #fafafa;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    text-align: center;
    color: #313639;
    font-family: Lato, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 47px 0px;
    margin: 25px 25px 25px 25px!important;
}

.projectlist {
    list-style-type: upper-roman;
}

.projecttitle {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.webdevelopment {
    background-color: #f7dad5;
    width: 100%;
    margin: 0px;
    padding: 0px 25px 0px;
}

.webdtitle {
    height: 70px;
}

.webdtitle h2 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#313639;
    font-weight: 400;
    padding-top: 20px;
}

.webdcontent {
    padding-top: 20px;
}

.webdcontent .skills,
.webdcontent .portfolio {
    padding-bottom: 20px;
    width: 100%;
}

.webdcontent .skills h3,
.webdcontent .portfolio h3 {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#363139;
    font-weight: 300;
}

/*    MEDIA QUERIES    */

@media (min-width: 992px) {
    .active {
        border-bottom: 1px solid  #fafafa;
    }

    .nav-item a:hover { /*This hover was taken from the Rosie Resume walkthrough project*/
        border-bottom: 1px solid #fafafa;
    }
}

@media (min-width: 541px) and (max-width: 991px) {
    .colortransparency {
    background-color: transparent;
    }
    
    .myphoto,
    .educationphoto,
    .workphoto {
        display: none;
    }

    .active {
        font-weight: bold;
    }

    .nav-item a:hover {
        font-weight: bold;
    }
}

@media(max-width: 540px) {
    .colortransparency {
    background-color: transparent;
    }
    
    .myphoto,
    .educationphoto,
    .workphoto {
        display: none;
    }

    .active {
        font-weight: bold;
    }

    .nav-item a:hover {
        font-weight: bold;
    }

    .name {
        font-size: 20px;
        height: 100%;
        padding-top: 30px;
    }
}